
<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :classification, collection: SoyBean.distinct.pluck(:classification) %>
  <%= f.input :date, collection: SoyBean.distinct.pluck(:date) %>
  <%= f.input :precip, collection: SoyBean.distinct.pluck(:precip) %>
  <%= f.input :temp, collection: SoyBean.distinct.pluck(:temp) %>
  <%= f.input :area_damaged, collection: SoyBean.distinct.pluck(:area_damaged) %>
  <%= f.input :severity, collection: SoyBean.distinct.pluck(:severity) %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<% @soy_beans.each do |bean| %>
  <div class="container">
    <h1><%= bean.classification %></h1>
    <p><%="Date: #{bean.date}"%></p>
    <p><%="Damage severity: #{bean.severity}"%></p>
  </div>
<% end %>